.my-footer-copyright_container {
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    font-family: 'FFDINWeb';
    color: #005179;
  }
  #footer {
    border-top: 10px solid #005179;
  }