<header></header>
<home-menu> </home-menu>
<div id="signup">


    <div class="panel panel-primary ">
        <div class="panel-heading">
            <h3 class="panel-title">Sign up</h3>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 ">
                    <form #f="ngForm" [formGroup]="signupForm"  method="post" action="#">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label for="userName">User Name*</label>
                                    <input type="text" name="userName" [(ngModel)]="user.userName" formControlName="_userName" id="userName" class="form-control"
                                        placeholder="User Name" tabindex="1">

                                </div>
                                <div *ngIf="signupForm.controls._userName?.pending">
                                    Validating user name..
                                    <i class="fa fa-spinner fa-spin fa-2x" aria-hidden="true"></i>
                                </div>
                                <div *ngIf="signupForm.controls._userName.touched && signupForm.controls._userName?.errors">
                                    <div class="alert alert-danger fa fa-exclamation-triangle" *ngIf="signupForm.controls._userName.errors.required"> Please enter the valid userName </div>
                                    <div class="alert alert-danger fa fa-exclamation-triangle" *ngIf="signupForm.controls._userName.errors.cannotContainSpace">
                                    No space allowed in User Name </div>
                                    <div class="alert alert-danger fa fa-exclamation-triangle" *ngIf="signupForm.controls._userName.errors.minlength"> Please enter min {{signupForm.controls._userName.errors.minlength.requiredLength}} characters
                                        </div>
                                    <div class="alert alert-danger fa fa-exclamation-triangle" *ngIf="signupForm.controls._userName.errors.shouldBeUnique"> userName already taken </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label for="firstName">First Name*</label>
                                    <input type="text" name="firstName" [(ngModel)]="user.firstName" formControlName="_firstName" id="firstName" class="form-control"
                                        placeholder="First Name" tabindex="1">
                                </div>
                                <div *ngIf="signupForm.controls._firstName.touched && signupForm.controls._firstName.errors">
                                    <div class="alert alert-danger fa fa-exclamation-triangle" *ngIf="signupForm.controls._firstName.errors.required"> Please enter the valid First Name </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label for="lastName">Last Name*</label>
                                    <input type="text" name="lastName" [(ngModel)]="user.lastName" formControlName="_lastName" id="lastName" class="form-control"
                                        placeholder="Last Name" tabindex="2">
                                </div>


                                <div *ngIf="signupForm.controls._lastName.touched && signupForm.controls._lastName.errors">
                                    <div class="alert alert-danger fa fa-exclamation-triangle" *ngIf="signupForm.controls._lastName.errors.required"> Please enter the valid Last Name </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email Address* </label>
                            <input type="email" name="email" [(ngModel)]="user.email" formControlName="_email" id="email" class="form-control"
                                placeholder="Email Address" tabindex="4" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
                        </div>

                        <div *ngIf="signupForm.controls._email.touched && signupForm.controls._email.errors">
                            <div class="alert alert-danger fa fa-exclamation-triangle" *ngIf="signupForm.controls._email.errors.required"> Please enter the valid emai address </div>
                            <div class="alert alert-danger fa fa-exclamation-triangle" *ngIf="signupForm.controls._email.errors.pattern"> Please enter the valid Email Address for eg. raj@yahoo.com</div>
                        </div>
                        <div class="form-group">
                            <label for="phoneNumber">Phone Number* </label>
                            <input type="text" name="phoneNumber" [(ngModel)]="user.phoneNumber" formControlName="_phoneNumber" id="phoneNumber" class="form-control"
                                placeholder="Phone Number" tabindex="4">
                        </div>
                        <div *ngIf="signupForm.controls._phoneNumber.touched && signupForm.controls._phoneNumber.errors">
                            <div class="alert alert-danger fa fa-exclamation-triangle" *ngIf="signupForm.controls._phoneNumber.errors.required"> Please enter the valid Phone number </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label for="password">Password*</label>
                                    <input type="password" name="password" [(ngModel)]="user.password" formControlName="_password" id="password" class="form-control"
                                        placeholder="Password" tabindex="5" validateEqual="_confirmPassword" reverse="true">
                                </div>
                                <div *ngIf="signupForm.controls._password.touched && signupForm.controls._password.errors">
                                    <div class="alert alert-danger fa fa-exclamation-triangle" *ngIf="signupForm.controls._password.errors.required"> Please enter the valid password </div>
                                    <div class="alert alert-danger fa fa-exclamation-triangle" *ngIf="signupForm.controls._password.errors.minlength"> Please enter min {{signupForm.controls._password.errors.minlength.requiredLength}} characters
                                        for password</div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label for="confirmPassword">Confirm Password*</label>
                                    <input type="password" name="confirmPassword" [(ngModel)]="user.confirmPassword" formControlName="_confirmPassword" id="confirmPassword"
                                        class="form-control" placeholder="Confirm Password" tabindex="6" validateEqual="_password"
                                        reverse="false">
                                </div>
                                <div *ngIf="signupForm.controls._confirmPassword.touched && signupForm.controls._confirmPassword.errors">
                                    <div class="alert alert-danger fa fa-exclamation-triangle" *ngIf="!signupForm.controls._confirmPassword.errors.validateEqual">
                                    Confirm password not matching with password</div>
                                </div>
                            </div>
                        </div>

                        <hr class="colorgraph">
                        <div class="row">
                            <div class="col-xs-12 col-md-6"><input type="button" (click)="move2ConfirmationScreen()" [disabled]="!f.valid" value="Next" class="btn btn-primary btn-block"
                                    tabindex="7"></div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>



</div>
<footer> </footer>