<div>
    <div *ngIf="userName">
<div class="dropdown">
  <button class="btn btn-button" type="button" style="background-color: #0b5c80; color: white;
    margin: 10px;" (click)="logout()" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
       Logout
  </button>
  
</div>
    </div>

   </div>
  


<!---<div>
   <div *ngIf="userName">  
<div class="dropdown">
  <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
       <font color="green"> <i class="fa fa-user-circle-o fa-2x" aria-hidden="true" ></i>
       <img class="img-circle" src="{{profileImageUrl}}" height="30px" weight="30px">
     {{userName}} </font>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a (click)="showUserProfile()">Profile Update</a></li>
    <li role="separator" class="divider"></li>
    <li><a (click)="logout()" >Logout</a></li>
  </ul>
</div>


   </div>
  
</div>  -->