<div class="col-md-4" >
    <div class="col-md-3" *ngIf="isExistingImageAvailable">
        <div class="scanFile">
            <div *ngIf="showDeleteButton" class="hover-btn">
                <button type="button" class="close" data-dismiss="alert">
                        <font color="red" ><i class="fa fa-window-close fa-2x" aria-hidden="true"></i></font>
                        <span class="sr-only">Close</span>
                </button>
            </div>
            <img src="{{imageURL}}" width="200" height="200" />
        </div>
    </div>
    <div   *ngIf="!isExistingImageAvailable"  class="col-md-3" ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
        (drop)="dragFileAccepted($event)" [uploader]="uploader" class="well my-drop-zone">
        Drop your Image here!
        <BR> (Supports JPEG/GIF/PNG Image files- Max 2MB)
        <BR>
        <BR> OR
        <BR>
        <BR> Click here to choose your file

        <input type="file" (change)="dragFileAccepted($event)" ng2FileSelect [uploader]="uploader" />
        <BR>
        
    </div>

</div>