<header></header>
<home-menu> </home-menu>
<div id="forgot-password">


    <div class="panel panel-primary ">
        <div class="panel-heading">
            <h3 class="panel-title">Forgot Password ?</h3>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 ">
                    <form #f="ngForm" [formGroup]="basicForm" (ngSubmit)="onSubmit(f)" method="post" action="#">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                Please provide your username.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label for="username">User Name*</label>
                                    <input type="text" name="username" [(ngModel)]="username" formControlName="_username" id="username" class="form-control"
                                        placeholder="User Name" tabindex="1">

                                </div>
                                <div *ngIf="basicForm.controls._username?.pending">
                                    Validating user name..
                                    <i class="fa fa-spinner fa-spin fa-2x" aria-hidden="true"></i>
                                </div>
                                <div *ngIf="basicForm.controls._username.touched && basicForm.controls._username?.errors">
                                    <div class="alert alert-danger fa fa-exclamation-triangle" *ngIf="basicForm.controls._username.errors.required"> Please enter the valid username </div>
                                    <div class="alert alert-danger fa fa-exclamation-triangle" *ngIf="basicForm.controls._username.errors.cannotContainSpace">
                                    No space allowed in User Name </div>
                                    <div class="alert alert-danger fa fa-exclamation-triangle" *ngIf="basicForm.controls._username.errors.minlength"> Please enter min {{basicForm.controls._username.errors.minlength.requiredLength}} characters
                                        </div>
                                    <div class="alert alert-danger fa fa-exclamation-triangle" *ngIf="!basicForm.controls._username.errors.userNotExists"> User Name not exists </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="isSuccess" class="row">
                            <div class="col-xs-1 col-md-1">
                                <i class="fa fa-thumbs-up fa-4x" style="color:green" aria-hidden="true"></i>
                            </div>
                            <div class="col-xs-11 col-md-11">
                                Password has been sent to your email account associated with the username.<BR>
                                Login to your account  <a class="btn btn-primary " target="_self" href="#home">  Sign in </a> <BR>
                                If you dont get password in your email , please try again.


                            </div>
                        </div>
                        <hr class="colorgraph">
                        <div class="row">
                            <div class="col-xs-6 col-md-4"><input type="button" type="submit" [disabled]="!f.valid" value="Submit" class="btn btn-primary btn-block"
                                    tabindex="7"></div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>



</div>
<footer> </footer>